{% extends 'layouts/base.html' %}

{% block title %} Outlets {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

{% load static %}

{% endblock stylesheets %}

{% block content %}

<div class="pt-5">
    <div class="container">
        <h1>Daftar Outlet</h1>

        <!-- blok untuk menampilkan notifikasi pesan sukses -->
        <div>
            {% if messages %}
            
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message | safe }}
                </div>
                {% endfor %}
            
            {% endif %}
        </div>

        <div class="text-right">
            <a href="{% url 'outlet.create' %}" class="btn btn-success">Tambah Baru</a>
        </div>

        <br>

        <table class="table table-bordered table-striped" id="datatable">
            <thead>
                <tr>
                    <th width="5%" class="text-center">ID</th>
                    <th width="20%" class="text-center">Nama Outlet</th>
                    <th width="45%" class="text-center">Alamat Outlet</th>
                    <th width="20%" class="text-center">Aksi</th>
                </tr>
            </thead>
            <tbody>
                <!-- daftar task-->
                {% if outlets %}
                {% for outlet in outlets %}
                <tr>
                    <td class="text-center">{{ forloop.counter }}</td>
                    <td>{{ outlet.name }}</td>
                    <td>{{ outlet.address }}</td>
                    <td class="text-center">
                        <!-- <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-file"></i></a> -->
                        <a href="{% url 'outlet.update' outlet.id %}" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i></a>
                        <a href="{% url 'outlet.delete' outlet.id %}" class="btn btn-danger btn-sm" onclick="return confirm('Apakah yakin akan menghapus outlet ini?')"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="5">Data tidak ditemukan.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

{% load static %}

<script src="{% static '/assets/vendor/chart.js/dist/Chart.min.js' %}"></script>
<script src="{% static '/assets/vendor/chart.js/dist/Chart.extension.js' %}"></script>

<script>
    let table = new DataTable('#datatable');
</script>

{% endblock javascripts %}
